services:
  mysql:
    image: 'mysql:latest'
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - 'MYSQL_ROOT_PASSWORD=root'
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
        - '3307:3306'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: